.navbar{
  list-style-type: none;
  position: fixed;
  top: 0px;
  height: 60px;
  width: 100%;
  background-color: var(--red);
  z-index: 1;
  color: var(--white);
}
.banner{
  position: relative;
  top: 120px;
  width: 100%;
  height: 120px;
  background-color: var(--blue);
}

h1{
  font-family: "Ultra";
}

.navbar li{
  float: right;
  display:inline-block;
  width: 80px;
  clear: left;
}

:root {
  --blue: #00158c;
  --yellow: #d6c627;
  --red: #a3464a;
  --white: #ffffff;
}

footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color:var(--yellow)
}
