.navbar{
  list-style-type: none;
  position: fixed;
  top: 0px;
  height: 60px;
  width: 100%;
  background-color: var(--red);
  z-index: 1;
  color: var(--white);
}
.banner{
  height: 120px;
  width: 70%;
  background-color: var(--blue);
  color: var(--white);
}

.container{
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 60px;
}

.container h1{
  left: 40px;
  font-family: "Major Mono Display"
}
.container h1:hover{
  font-family: "Ultra"
}

.column{
  background-color: var(--yellow);
  height: 500px;
}


.navbar li{
  float: right;
  display:inline-block;
  width: 80px;
  clear: left;
}

:root {
  --blue: #00158c;
  --yellow: #d6c627;
  --red: #a3464a;
  --white: #ffffff;
}

footer{
  position: absolute;
  bottom: 0px;
  height: 60px;
  width: 100%;
  background-color:var(--yellow)
}
